#head1
{
    float: left;
    font-family: "Open Sans","Segoe UI";
    width: auto;  
    font-weight: lighter;
}
#home
{
    float: left;
    font-family: "Open Sans","Segoe UI";
    width: auto;
    font-weight: 300;
    text-decoration: none;
    font-size : 30px;
    margin-left: 10px;
    margin-top: 5px;
}
#links
{
    float: right;
    font-size: 20px;
    margin-top: 10px;
}
#link1
{
    margin-left: 400px;
    text-decoration: none;    
}
#cust
{
    align-self: center;
    font-family: "Open Sans","Segoe UI";
    width: 53%;
    font-size: 20px;
    margin-left: 240px;  
}
input[type=text],input[type=password]
{
    padding: 8px;
    width: 220px;
    font-size: 16px;
    text-decoration: none;
}
#loginb
{
    width: 150px;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    border-color: black;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
#loginb:hover
{
    background-color: black;
    color: green;
    font-weight: 600;
}
strong
{
    font-weight: 600;
}